.history {
  
}

.title {
  font-weight: bolder;
}

.content > span+span:not(:empty)::before {
  content: " ";
}

.bookContents {
  display: block;
  list-style: square;
}

.bookContents > article {
  margin-left: 2%;
  display: list-item;
}

.library {
  background-color: navy;
  color: silver;
  padding: 2mm;
  margin: 10mm;
  border-radius: 2mm;
}


.actionBar {
  float: right;
}

.modalOpen, .modalClosed {
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: red;
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
}

.modalOpen {
  display: block;
}

.modalClosed {
  display: none;
}

.modalContent {
  margin: 10%;
  max-width: 80%;
  width: 80%;
  border: 1mm solid #888;
  color: silver;
  border-radius: 10px;
  background-color: darkblue;
}