.history {
  
}

.title {
  font-weight: bolder;
}

.content > span+span:not(:empty)::before {
  content: " ";
}

.library {
  background-color: navy;
  color: silver;
  padding: 2mm;
}

.modalOpen, .modalClosed {
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: red;
  background-color: rgba(0,0,0,0.4)
}

.modalOpen {
  display: block;
}

.modalClosed {
  display: none;
}

.modalContent {
  padding: 10%;
  width: 80%;
  border: 1mm solid #888;
  margin: 10px auto;
  background-color: navy;
  color: silver;
  border-radius: 10px;
}