body > header {
  height: 25%;
}

body > main {
  height: 65%;
}

ul.vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.vertical li, li.vertical {
  display: block;
}

ul.vertical li a, li.vertical a {
  display: block;
  width: 60px;
}

ul.horizontal {
  display: flexbox;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.horizontal li, li.horizontal {
  display: inline;
}

ul.horizontal li a, li.horizontal a {
  display: block;
  color: silver;
  background-color: navy;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul > li a:hover {
  color: navy;
  background-color: silver;
}