html {
    background-color: #000080;
    color: #a9a9a9a;
}

.primary {
    color: #000080;
    background-color: #808080
}

.secondary {
    color: #000060;
    background-color: #a9a9a9;
}

body {
    color: #c9c9c9;
    background-color: #000080;
}

.action {
    color: #808080;
    background-color: #000080;
}
.action:disabled {
    color: #000020;
}

.Covenant {
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: currentColor;
}