html {

    background-color: #000080;
    color: #a9a9a9;
}

.primary {
    color: #000080;
    background-color: #808080
}

.primary:disabled {
    color: #000040;
    background-color: #606060;
}

.secondary {
    color: #000060;
    background-color: #a9a9a9;
}

.secondary:disabled {
    color: #000020;
    background-color: #a9a9a9;
}

body {
    color: #c9c9c9;
    background-color: #000080;
}
